#nav_bar{
    width: 100%;
}
.nav_elements{
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
}
.nav_elements li{
    float: right;
    list-style: none;
}
.nav_elements li a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
.nav_elements li a:hover{
    background-color: #111;
    color: white;
}


